* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.titre{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.main-page {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}
.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-style: ridge;
  padding-bottom: 1em;
  margin-top: 1em;
}
.explication {
  background-color: rgb(226, 226, 226);
  border-style: ridge;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.paragraphe {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
}
.section-bordered {
  border-style: ridge;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-top: 1em;
}
.test {
  width: 95%;
  border-style: ridge;
  margin-top: 1em;
  display: flex;
  align-content: space-between;
  background-color: lawngreen;
  }
.btn-refus {
  background-color: green;
  height: auto;
  border-style: solid;
  border-width: 4px;
}
.btn-accepter {
  background-color: red;
  height: auto;
  border-style: solid;
  border-width: 4px;
}
.profil {
  margin-top: 1em;
  margin-right: auto;
  margin-left:auto;
  width:92%
}