@import 'src/styles/colors.scss';
@import 'src/styles/app.scss';

.AccordionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: realtive;
    width: 100%;
    background: #FFF;
    margin-bottom: 2em;
}
.Dropdown {
background: #1c1c1c;
color: #00ffb9;
width: 100%;
height: 100px;
flex-direction:column;
align-items:center;
border-bottom:1px solid #00ffb9;
border-top:1px solid #00ffb9;
}
.Wrap {
    background: $Footer;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.Wrap-secondary {
    background: $SecondBackground;
    border-radius: 4px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.accordionBottom{
    background-color: whitesmoke;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
}
/*style mobile*/
@media screen and (max-width:$MobileScreenSize) {
    .AccordionSection {
        display: flex;
        flex-direction: column;   
        justify-content: center;
        position: realtive;
        width: 100%;
        background: #FFF;
    }
    .Dropdown {
    background: #1c1c1c;
    color: #00ffb9;
    width: 100%;
    height: 100px;
    flex-direction:column;
    align-items:center;
    border-bottom:1px solid #00ffb9;
    border-top:1px solid #00ffb9;
    }
    .Wrap {
        background: $Footer;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }
    .Wrap-secondary {
        background: $SecondBackground;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }
}