@import 'src/styles/colors.scss';

$MobileScreenSize: 480px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 16px;
    }
  .page-container{
    display: flex;
    flex-direction: column;
    //min-height: 100vh;   
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    background-color: $Background;
  }
  .content-wrap{
    flex:1;
  }
  h1 {
    font-family: 'Verdana';
    font-size: 2em;
    font-weight: 700;  
    margin-right: 0.5em;
    display: inline-block;
  }
  h2 {
    font-family: 'Verdana';
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
  }
  h3 {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    text-decoration: underline;
    font-weight: bolder
  }
  p {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    font-weight: normal;
  }
  label {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    font-weight: normal;
  }

  .info {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 13px;
  }

  .info-bold {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: 700;
  }

  @media screen and (max-width:$MobileScreenSize) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Verdana';
      font-size: 17px;
    }
    .page-container{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .content-wrap{
      flex:1;
    }
    h1 {
      font-family: 'Verdana';
      font-size: 2em;
      font-weight: 700
    }
    h2 {
      font-family: 'Verdana';
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    h3 {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      text-decoration: underline;
      font-weight: bolder
    }
    p {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      font-weight: normal;
    }
    label {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      font-weight: normal;
    }
  }


  //-----------------------------------------------------------------------------------
  // Apple shit
  //-----------------------------------------------------------------------------------

  /** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .foo {
    height: 1024px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) {
  .foo {
    height: 500px;
  }
}

/**
 * iPhone X
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1125px ) and (device-height: 2436px) and (orientation:portrait){
  .foo {
    height: 2436px;
  }
}

 /**
 * iPhone 8 Plus
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1080px ) and (device-height: 1920px) and (orientation:portrait){
  .foo {
    height: 1920px;
  }
}

 /**
 * iPhone 8
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 750px ) and (device-height: 1334px) and (orientation:portrait){
  .foo {
    height: 1334px;
  }
}

 /**
 * iPhone 7 Plus
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1080px) and (device-height: 1920px) and (orientation:portrait){
  .foo {
    height: 1920px;
  }
}

 /**
 * iPhone 6s Plus
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1080px) and (device-height: 1920px) and (orientation:portrait){
  .foo {
    height: 1920px;
  }
}

 /**
 * iPhone 6 Plus
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1080px) and (device-height: 1920px) and (orientation:portrait){
  .foo {
    height: 1920px;
  }
}

 /**
 * iPhone 7
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 750px) and (device-height: 1334px) and (orientation:portrait){
  .foo {
    height: 1334px;
  }
}

/**
 * iPhone 6s
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 750px) and (device-height: 1334px) and (orientation:portrait){
  .foo {
    height: 1334px;
  }
}

/**
 * iPhone 6
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 750px ) and (device-height: 1334px) and (orientation:portrait){
  .foo {
    height: 1334px;
  }
}

/**
 * iPhone SE
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 640px ) and (device-height: 1136px) and (orientation:portrait){
  .foo {
    height: 1136px;
  }
}

/**
 * iPad Pro 12.9-inch (2nd generation)
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 2048px) and (device-height: 2732px) and (orientation:portrait){
  .foo {
    height: 2732px;
  }
}

/**
 * iPad Pro 10.5-inch
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width:  1668px) and (device-height: 2224px) and (orientation:portrait){
  .foo {
    height: 2224px;
  }
}

/**
 * iPad Pro (12.9-inch)
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 2048px ) and (device-height: 2732px) and (orientation:portrait){
  .foo {
    height: 2732px;
  }
}

/**
 * iPad Pro (9.7-inch)
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1536px) and (device-height: 2048px) and (orientation:portrait){
  .foo {
    height: 2048px;
  }
}

/**
 * iPad Air 2
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1536px) and (device-height: 2048px) and (orientation:portrait){
  .foo {
    height: 2048px;
  }
}

/**
 * iPad Mini 4
 * You can also target devices with aspect ratio.
 */
 @media all and (device-width: 1536px) and (device-height: 2048px) and (orientation:portrait){
  .foo {
    height: 2048px;
  }
}
  