@import 'src/styles/colors.scss';

$MobileScreenSize: 480px;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 16px;
    }
  .page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    background-color: $Background;
  }
  .content-wrap{
    flex:1;
  }
  h1 {
    font-family: 'Verdana';
    font-size: 2em;
    font-weight: 700;  
    margin-right: 0.5em;
    display: inline-block;
  }
  h2 {
    font-family: 'Verdana';
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
  }
  h3 {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    text-decoration: underline;
    font-weight: bolder
  }
  p {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    font-weight: normal;
  }
  label {
    //font-family: 'Tahoma';
    font-family: 'Arial';
    font-weight: normal;
  }

  .info {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 13px;
  }

  .info-bold {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: 700;
  }

  @media screen and (max-width:960px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Verdana';
      font-size: 17px;
    }
    .page-container{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .content-wrap{
      flex:1;
    }
    h1 {
      font-family: 'Verdana';
      font-size: 2em;
      font-weight: 700
    }
    h2 {
      font-family: 'Verdana';
      margin-bottom: 0.5em;
      font-weight: normal;
    }
    h3 {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      text-decoration: underline;
      font-weight: bolder
    }
    p {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      font-weight: normal;
    }
    label {
      //font-family: 'Tahoma';
      font-family: 'Arial';
      font-weight: normal;
    }
  }
  
  
  