$SecondBackground: #B6CDE8;
$Header: #340DA4;
$Footer: #8D9AAE; 
$TrypanBlue: #340DA4; //name to define
$Police: #2B2E42;
$ValidateColor: #53ff92;
$RejectColor: #FF5853;
$Background: #EEEDFF;


//HEX Codes
/*
-LightSteelBlue:    #B6CDE8
-Mantee:            #8D9AAE
-TrypanBlue:        #340DA4
-SpaceCadet:        #2B2E42
-OrangeRedCrayola:  #FF5853
-LavenderWeb:       #EEEDFF
*/