@import 'src/styles/colors.scss';

// FILTRE POSTULANT
.main-page {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

.basic-multi-select{
  margin-top: 0em;
  padding-top: 0em;
  width: 80%;
  margin-top: 0em;
  margin-right: 2em;
  margin-left: 1em;
  height: 2em;
  vertical-align:middle
  ;
  }
  .section {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .line {
    columns: 2;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
  .line-simple {
    columns: 1;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
  .line-half {
    columns: 2;
    width: 50%;
    flex-direction: column;
    margin-top: 1em;
  }
  
  .input {
    width: 80%;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle;
    border: 1px solid #ccc;
    outline: none;
    appearance:none;
  }

  .inputCompetence{
    width: 80%;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle;
    border: 1px solid #ccc;
    outline: none;
    appearance:none;
  }

  .inputLanguage {
    width: 80%;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle;
    border: 1px solid #ccc;
    outline: none;
    appearance:none;
  }

  .inputDate {
    width: 80%;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle;
    border: 1px solid #ccc;
    outline: none;
    appearance:none;
  }
  .line-double {
    columns: 2;
    width: 100%;
    flex-direction: column;
  }
  .inputlong {
    flex: 1;
    width: 90%;
    margin-top: 1em;
    margin-right: 2em;
    resize: none;
    height: 7em;
    background-color: rgb(196, 195, 195);
    margin-left: 1em;
  }
  .inputmonoline{
    flex: 1;
    width: 90%;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
  }

  .subtitle{
    display: inline-block;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 1em;
  }

  .subtitleNotBold{
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 1em;
  }

  .intituleFiltre {
    flex: 1;
    margin-left: 1em;
  }

  .form {
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style: none;
    padding-bottom: 1em;
    background-color: white;
  }



  .img {
    flex: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: darkgreen;
    height: 120px;
    width: 250px;
  }
  .btn-enregistrer {
    margin-top: 1em;
    margin-left: auto;
    margin-right: 3em;
    display: block;
    width: 20%;
  }
  .btn-enregistrer-less-margin{
    margin-top: 1em;
    margin-left: auto;
    margin-right: 0.5em;
    display: block;
    width: 20%;
  }
  .accordion{
    margin-left: 1em;
  }

  .accordion-secondary{
    background-color: brown;
  }
  .block {
    padding-top: 1em;
  }
  .line5 {
    columns: 5;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
  }
  .checkbox {
    margin-left: 1em;
  }



  .select {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 4em;
  }

  .display {
    display: flex;
  }
  .info {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .icon {
    margin-right: 1em;
  }
  .inputlong-mono {
    flex: 1;
    width: 95%;
    margin-top: 1em;
    margin-right: 2em;
    resize: none;
    height: 7em;
    background-color: rgb(196, 195, 195);
    margin-left: 1em;
  }

  .table-small{
    float:left;
    display:inline; 
    width: 50%;
  }

  .tg {
    border-spacing:12;
  }

  .tg-nrix{
    text-align:left;
    vertical-align:middle;
  }

  .tg-cly1{
    text-align:left;
    vertical-align:middle}

  /*style mobile*/
@media screen and (max-width:960px) {
  .section {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .bottomDiv{
    margin-top: 1em;
    height: 11vh;
  }

  .table-small{
    float:left;
    display:inline-table; 
    width: 20vh;
    padding-bottom: 1em;
    padding-top: 0.1em;
    padding-left: 1em;
  }

  .intituleFiltre {
    flex: 1;
    margin-left: 0em;

  }

  .inputDate {
    width: 18.5vh;
    margin-right: 0em;
    margin-left: 0em;
    height: 2em;
    vertical-align:middle;
    font-size: 16px;
  }

  .inputCompetence {
    width: 20vh;
    margin-right: 0em;
    margin-left: 0em;
    height: 2em;
    vertical-align:middle
  }

  .inputLanguage {
    width: 15vh;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle
  }
  // .line {
  //   columns: 2;
  //   width: 100%;
  //   flex-direction: column;
  //   margin-top: 1em;
  // }
  // .line-simple {
  //   columns: 1;
  //   width: 100%;
  //   flex-direction: column;
  //   margin-top: 1em;
  // }
  // .line-half {
  //   columns: 2;
  //   width: 50%;
  //   flex-direction: column;
  //   margin-top: 1em;
  // }
  .input {
    width:  40vh;
    margin-right: 2em;
    margin-left: 1em;
    height: 2em;
    vertical-align:middle
  }
  // .line-double {
  //   columns: 2;
  //   width: 100%;
  //   flex-direction: column;
  // }
  // .inputlong {
  //   flex: 1;
  //   width: 90%;
  //   margin-top: 1em;
  //   margin-right: 2em;
  //   resize: none;
  //   height: 7em;
  //   background-color: rgb(196, 195, 195);
  //   margin-left: 1em;
  // }
  // .inputmonoline{
  //   flex: 1;
  //   width: 95%;
  //   margin-top: 1em;
  //   margin-right: 2em;
  //   margin-left: 1em;
  // }
  // .intitulé {
  //   flex: 1;
  // }
  // .form {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 100%;
  //   border-style: ridge;
  //   padding-bottom: 1em;
  // }
  // .img {
  //   flex: 1;
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  //   background-color: darkgreen;
  //   height: 120px;
  //   width: 250px;
  // }
  // .btn-enregistrer {
  //   margin-top: 1em;
  //   margin-left: auto;
  //   margin-right: 3em;
  //   display: block;
  //   width: 20%;
  // }
  // .btn-enregistrer-less-margin{
  //   margin-top: 1em;
  //   margin-left: auto;
  //   margin-right: 0.5em;
  //   display: block;
  //   width: 20%;
  // }
  // .accordion{
  //   margin-left: 1em;
  // }
  // .btn-full {
  //   margin-top: 1em;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 90%;
  //   text-align: center;
  // }
  // .accordion-secondary{
  //   background-color: brown;
  // }
  // .block {
  //   padding-top: 1em;
  // }
  // .line5 {
  //   columns: 5;
  //   width: 100%;
  //   flex-direction: column;
  //   margin-top: 1em;
  // }
  // .checkbox {
  //   margin-left: 1em;
  // }
  // .btn-click {
  //   margin-top: 1em;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 100%;
  //   text-align: center;
  //   background-color: cadetblue;
  // }
  // .btn-unclick {
  //   margin-top: 1em;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 100%;
  //   text-align: center;
  //   background-color: cornsilk;
  // }
  // .btn-container {
  //   margin-left: 0.5em;
  //   margin-right: 0.5em;
  // }
  .select {
    display: inline-table;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 4em;
  }
  .display {
    display: inline-table;
  }
  // .info {
  //   display: flex;
  //   margin-top: 1em;
  //   margin-bottom: 1em;
  //   margin-left: 1em;
  //   margin-right: 1em;
  // }
  .icon {
    margin-right: 0em;
  }
  // .inputlong-mono {
  //   flex: 1;
  //   width: 95%;
  //   margin-top: 1em;
  //   margin-right: 2em;
  //   resize: none;
  //   height: 7em;
  //   background-color: rgb(196, 195, 195);
  //   margin-left: 1em;
  // }
}