@import 'src/styles/app.scss';

.text-bold {
    padding-left: 0.5em;
    font-weight: bold
  }
  .abonnementcontainer {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    background-color: rgb(196, 195, 195);
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;
}
.abonnementdescription {
    flex: 4;
    margin-left: 0.5em;
    
}
.abonnementprix {
    flex: 1;
    margin-right: 0.5em;
    align-self: flex-end;
}

.tableAbonnement{
    width:100%;
    justify-content: left;
}
/*style mobile*/
@media screen and (max-width:$MobileScreenSize) {
    .text-bold {
        padding-left: 0.5em;
        font-weight: bold
      }
      .abonnementcontainer {
        display: flex;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-style: ridge;
        background-color: rgb(196, 195, 195);
        margin-top: 1em;
        padding-bottom: 1em;
        padding-top: 0.5em;
    }
    .abonnementdescription {
        display: inline;
        float: left;
        text-align: left;
        width:20vh;
    }

    .abonnementdescription > *{
        text-align: left !important;
    }

    .abonnementprix {
        display: inline;
        float: left;
        text-align: left;
        width:20vh;
    }

    .abonnementprix > *{
        text-align: left !important;
        vertical-align: top !important;
        margin-left: 2em !important;
    }


    .tableAbonnement{
        width:90%;
        justify-content: left;
    }

    .tableAbonnement tr > *{
        display: block;
    }
      
    .tableAbonnement tr {
        display: table-cell;
    }
    
  
}