* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.main-page {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.line {
  columns: 2;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;
}
.line-simple {
  columns: 1;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;
}
.line-half {
  columns: 2;
  width: 50%;
  flex-direction: column;
  margin-top: 1em;
}
.input {
  flex: 1;
  width: 90%;
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 1em;
  height: 3em;
}
.line-double {
  columns: 2;
  width: 100%;
  flex-direction: column;
}
.inputlong {
  flex: 1;
  width: 90%;
  margin-top: 1em;
  margin-right: 2em;
  resize: none;
  height: 7em;
  background-color: rgb(196, 195, 195);
  margin-left: 1em;
}
.inputmonoline{
  flex: 1;
  width: 95%;
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 1em;
}
.intitulé {
  flex: 1;
  margin-left: 1em;
}
.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-style: ridge;
  padding-bottom: 1em;
}
.img {
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgreen;
  height: 120px;
  width: 250px;
}
.btn-enregistrer {
  margin-top: 1em;
  margin-left: auto;
  margin-right: 3em;
  display: block;
  width: 20%;
}
.btn-enregistrer-less-margin{
  margin-top: 1em;
  margin-left: auto;
  margin-right: 0.5em;
  display: block;
  width: 20%;
}
.accordion{
  margin-left: 1em;
}
.btn-full {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
.accordion-secondary{
  background-color: brown;
}
.block {
  padding-top: 1em;
}
.line5 {
  columns: 5;
  width: 100%;
  flex-direction: column;
  margin-top: 1em;
}
.checkbox {
  margin-left: 1em;
}
.btn-click {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: cadetblue;
}
.btn-unclick {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  background-color: cornsilk;
}
.btn-container {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.column {
  display: grid;
  background-color: chartreuse;
}
.select {
  width: 48%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.display {
  display: flex;
}
